<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <h3>{{ date}}</h3>

    <ul> characters:
    {% for key, charater in characters.items() %}
        <li>{{ charater['value'] }}</li>
    {% endfor %}
    </ul>

{{ id }}
    <ul> acts:
        {% for actNumber, act in acts.items() %}
            <li>
            <ul>
                act {{ actNumber }}


            {% for sceneKey, scenes in act.items() %}
                <li>
                <ul>
                    {{ sceneKey }}


                {% for sceneNumber, scene in scenes.items() %}

                    <li>
                    <ul>
                        scene {{ sceneNumber }}


                    {% for sceneHandle, scenelist in scene.items() %}

                        {% if sceneHandle == 'blocks' %}
                             <li>
                             <ul>
                                {{ sceneHandle }}


                            {% for key, val in scenelist.items() %}
                                <li>

                                    block {{ key }}
                                </li>



                            {% endfor %}
                            </ul>
                            </li>
                        {% endif %}

                    {% endfor %}
                    </ul>
                    </li>

                {% endfor %}
                </ul>
                </li>

            {% endfor %}
            </ul>
            </li>

        {% endfor %}
    </ul>
</body>
</html>