<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <h3>{{ date}}</h3>

    <ul> characters:
    {% for key, charater in characters.items() %}
        <li>{{ charater['value'] }}</li>
    {% endfor %}
    </ul>

{{ id }}
    <ul> acts:
        {% for actNumber, act in acts.items() %}
            <li>
                | {{ actNumber }}
            </li>

            {% for sceneKey, scenes in act.items() %}
                <li>
                    | | {{ sceneKey }}

                </li>
                {% for sceneNumber, scene in scenes.items() %}

                    <li>
                        | | | {{ sceneNumber }}
                    </li>

                    {% for sceneHandle, scenelist in scene.items() %}
                        <li>
                            | | | | {{ sceneHandle }}
                        </li>

                        {% for key, val in scenelist.items() %}
                            <li>
                                | | | | | {{ key }}
                            </li>


                        {% endfor %}

                    {% endfor %}

                {% endfor %}

            {% endfor %}

        {% endfor %}
    </ul>
</body>
</html>